#header{
    background-image: url(img/index-header_bg.jpg);
    border:0px;
    vertical-align: top;
    
    background-size: cover;
    background-attachment: scroll;
}
body{
    margin: 0px;
    padding: 0px;
    border:0px;
    vertical-align: top;
}
.container{
    box-sizing: border-box;
    
}
.block-1 .logo  {
    padding-top: 280px;
    padding-bottom: 20px;
    text-align: center;
}
.block-1 .logo h1{
    
   font-family: 'Pacifico', cursive;
    font-size: 48px;
    width: 250px;
    height: 78px;
    display: block;
    border: 3px solid #fff;
    
    position: relative;
    margin: 0 auto;
    line-height: 72px;
    color: #fff;
}
.block-1 span{
    vertical-align: -25px;
    text-transform: uppercase;
    font-size: 14px;
    right: 13px;
    bottom: -5px;
    font-weight: 900;
    line-height: 14px;
    font-family:'Open Sans', sans-serif;
    color: inherit;
    position: absolute;

}
.block-1 h2{
    font-size: 70px;
    margin-top: 30px;
    color: #fff;
}
.block-1 h3{
    font-size: 50px;
    margin-top: 30px;
    color:#fff;
}
 li{
    display: inline;
}
#header .block-2{
    background: #000000;
    width:100%;
    margin-top:100px;
}
.block-2 nav{
    color:#fff;
  
    
    }
.block-2 ul{
    display: inline-block;
    width:100%;
   
    
}
.block-2 li{
    padding: 26px;
   font-size: 24px;
}

.block-3 h2{
  text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 44px;
}
.sub_head{
    font-style: italic;
    text-align: center;
    color: #111;
    font-family: 'Times New Roman', Georgia, serif;
    font-size: 18px;
    margin-bottom: 44px;
    margin-top: 7px;
}
h2
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #111111;
   
    text-transform: uppercase;
    margin-top: 44px;
}
.grid-4
{
    
    padding-right: 10px;
    padding-bottom: 20px;
}

.block-5 
{
    background: #f5f5f5;
}
.full-width-container
{
    
    width: 100%;
}
 .contact_form
{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #111111;
    text-align: center;
    text-transform: uppercase;
    margin-top: 44px;
    padding-bottom: 50px;
    
    
}

#contact-form {
    position: relative;
    
}
label {
    position: relative;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    margin-bottom: 50px;
    
    
}
.name
{

}
label {
    cursor: default;
}
#contact-form input[type="text"] {
    width: calc(100% - 20px);
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    height: 20px;
    line-height: 50px;
    color: rgb(0, 0, 0);
    padding: 20px 0px 20px 20px;
    outline: none;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-image: initial;
    background: none;
}


#contact-form textarea {
    width: 100%;
    line-height: 24px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    resize: none;
    height: 210px;
    color: rgb(0, 0, 0);
    outline: none;
    background: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-image: initial;
    padding: 11px;
    
}


textarea {
    font-family: monospace;
    border-color: rgb(169, 169, 169);
}

.btn {
    background: none;
    padding: 0 30px;
    min-width: 120px;
    height: 40px;
    color: #000;
    border: 3px solid #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    
}

 
h3
{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.row
{
    margin-right: 0px;
}